.espace {
  height: 30px;
}

.concept {
  width:70%;
  margin: auto;
  height: 700px;
}

.concept-image {
  padding: 0;
  padding-top: 5% !important;
  width: 26%;
  height: auto;
  float: right;
  
}

.concept_text {
  padding: 20px;
  text-align: justify;
}

.concept h1 {
  width: 30%;
  margin: auto;
  
}

.buttons_concept {
  width: 30%;
  margin: auto;
}